{% extends 'base/base_user_profile.html' %}

{% block user_info %}
    <h5 class="card-title">Удаление аккаунта</h5>

    <form method="POST" action="{% url 'user_delete' user.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Да, я уверен</button>
        <a href="{% url 'user_detail' user.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock user_info %}}

{% block projects %}
    <p style="color: red; font-weight: bold;">Вы точно уверены, что хотите удалить аккаунт? Данные невозможно будет вернуть.</p>
{% endblock projects %}}