{% extends 'base/base_project_list.html' %}

{% block projects_name %}
<h1 class="mb-4">
Мои проекты
</h1>
{% endblock projects_name %}


{% block projects %}
<div class="list-group">
    {% for project in projects %}
        <a href="{% url 'project_detail' project.id %}" class="list-group-item list-group-item-action">
            <h5 class="mb-1">{{ project.name }}</h5>
            <p class="mb-1 text-muted">
                {{ project.description|truncatewords:15 }}
            </p>
        </a>
    {% endfor %}
</div>
{% endblock projects %}

{% block no_projects %}
<div class="text-center">
    <p class="text-danger mb-4">У вас пока нет проектов.</p>
    <a href="{% url 'project_create' %}" class="btn btn-success btn-lg">Создать первый проект</a>
</div>
{% endblock no_projects %}